body {background-image: url(background.jpg);
    font-family: Arial, Verdana, sans-serif;
    
    }
h1 { background-image: url(lighthouselogo.jpg);
  background-repeat: no-repeat;
  text-shadow: 3px 3px 3px #666;
height: 100px; width: 650px; font-size: 3em;
padding-left: 150px; padding-top: 30px;
border: 1px solid #000033;
border-radius: 15px; 
}
h2 { color: #000033; 
   font-family: arial, sans-serif;
   text-shadow: 1px 1px 0 #ccc;
}
nav { word-spacing: 2em; }
footer { font-size: .80em;
        font-style: italic;
}
#container { background-color: #ffffff;
padding: 1.25em;
width: 80%; min-width: 800px; max-width: 960px;
box-shadow: 5px 5px 5px #1e1e1e;
margin-right: auto;
margin-left: auto; }